{{#each users as |user|}}

<div class="container center-align" id="friend-card">
    <div class="row z-depth-3" id="friend-info">
        <img class="friend_pic" src="{{profile_pic}}" alt="{{first_name}}">
        <ul>
            <li><h5><strong>{{first_name}}</strong></h5></li>
            <li><h6><em>{{city}}, {{state}}</em></h6></li>
            <li><h6>{{bio}}</h6></li>
            <li><a href="mailto:{{email}}" class="match-message">Message</></li>
        </ul>
    </div>
</div>

{{/each}}
