<div class="container center-align row">
    <div class="card friend-card col s12 m8 offset-m2 xl6 offset-xl3 z-depth-3" id="friend-info">
        <img class="friend-pic" src="{{profile_pic}}" alt="{{first_name}}">
        <div class="card-content friend-info">
            <h5><strong>{{first_name}}</strong></h5>
            <h6 class="friend-card-item"><em>{{city}}, {{state}}</em></h6>
            <p id="friend-card-bio" class="card-bio friend-card-item">"{{bio}}"</p>
            <button id="edit-profile-button" class="waves-effect waves-light btn friend-card-item modal-trigger" data-target="edit-profile-modal">Edit Profile</button>
        </div>
    </div>
</div>

<div id="edit-profile-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <form id="create-account-form" class="form">
      <h5 class="center-align form-header">Update Profile</h5>
      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input id="edit-first-name" type="text" class="validate" value="{{first_name}}" required>
        <label for="edit-first-name"></label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input id="edit-last-name" type="text" class="validate" value="{{last_name}}">
        <label for="edit-last-name"></label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">location_on</i>
        <input id="edit-city" type="text" class="validate" value="{{city}}">
        <label for="edit-city"></label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">location_on</i>
        <input id="edit-state" type="text" class="validate" value="{{state}}">
        <label for="edit-state"></label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">whatshot</i>
        <input id="edit-bio" type="text" class="validate" value="{{bio}}">
        <label for="edit-bio"></label>
      </div>
      <div class="edit-profile-buttons row">
        <button id="confirm-user-update" class="waves-effect waves-light btn right update-button col s12 m8" type="submit">Save Changes</button>
        <button id="confirm-user-delete" class="waves-effect waves-light btn left update-button col s12 m8 red accent-2" type="submit">Delete Account</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>