<body>
    <div class="card">
      <div class="card-wrapper">
        <div class="card-content">
          <img class="friend_pic" src="{{profile_pic}}" alt="{{first_name}}">
          <ul class="tabs tabs-fixed-width teal-text">
            <li class="tab"><a href="#test5">{{first_name}} {{last_name}}</a></li>
            <li class="tab"><a href="#test4">{{city}}, {{state}}</a></li>
          </ul>
        </div>
      <div class="card-tabs">
        <p>{{bio}}</p>
      </div>
      <div class="card-content brown lighten-4 teal-text">
        <div id="test4">Tag 1</div>
        <div id="test5">Tag 2</div>
        <div id="test6">Tag 3</div>
      </div>
    </div>
  </div>  
</body>