{{#each users as |user|}}

<div class="container center-align row">
  <div class="card swipe-card col s12 m8 offset-m2 xl6 offset-xl3 z-depth-3">
      <img class="friend-pic center-align" src="{{profile_pic}}" alt="{{first_name}} {{#if last_name}}{{last_name}}{{/if}}">
    <div class="card-content swipe-info">
      <h5 class="card-title grey-text text-darken-4">
        {{first_name}} {{last_name}}
        <span class="activator"><i class="material-icons card-icon right">more_vert</i></span>
      </h5>
        <ul class="card-buttons">
          <li><button class="waves-effect waves-light btn left">Like</button></li>
          <li><button class="waves-effect waves-light btn right">Dislike</button></li>
        </ul>
    </div>
    <div class="card-reveal center-align">
      <h5 class="card-title grey-text text-darken-4">
        {{first_name}} {{last_name}}
        <span class="activator"><i class="material-icons card-icon right">close</i></span>
      </h5>
      <p class="card-bio center-align">{{bio}}</p>
    </div>
  </div>
</div>

{{/each}}