{{#each users as |user|}}
<div class="container">
  <div class="card swipe-content sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator swipe-image" src="https://picsum.photos/id/1068/400/400">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{first_name}} {{last_name}}<i class="material-icons right">more_vert</i></span>
        
        <p>
            <ul>
                <li><a class="teal-text right" href="#!"><h3>LIKE</h3></a></li>
                <li><a class="teal-text left" href="#!"><h3>DISLIKE</h3></a></li>
              </ul>
            </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{first_name}} {{last_name}}<i class="material-icons right">close</i></span>
      <p>{{bio}}</p>
    </div>
  </div>
</div>
{{/each}}


  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>